body{
    text-align: center;
    /* background-image: url('Images/ground2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; */
}

.choice-button {
    height: 130px;
    width: 130px;
    border: none;
    margin: 25px;
    background-color: rgb(164, 210, 132);
    border-radius: 66px;
    cursor: pointer;
}

.choice-image {
    height: 75px;
}

h1{
    color: white;
}

